@use '../../assets/styles/colors';

.Button {
  background: colors.$white;
  border: 1px solid colors.$white;
  border-radius: 5px;
  padding: .8rem 1.6rem;
  color: colors.$dark-text;
  cursor: pointer;
  
  &--secondary {
    background: transparent;
    color: colors.$white;
  }
}
